<div *ngIf="isVisible">
    <table class="nav-table" *ngIf="lso.getMyReadingLists()">
        <tr class="nav-table-header" (click)="onToggleRls()">
            <th scope="row">
                Reading Lists
                <span *ngIf="toggleRls" style="float:right"><i class="highlight fas fa-angle-down"></i></span>
                <span *ngIf="!toggleRls" style="float:right"><i class="highlight fas fa-angle-left"></i></span>
            </th>
        </tr>
    </table>
    <table class="nav-table" *ngIf="toggleRls">
        <tr *ngFor="let rlid of lso.getMyReadingLists()" (click)="onSelectReadingList(lso.getReadingLists()[rlid])">
            <td><i class="highlight fas fa-list-ul"></i> {{ lso.getReadingLists()[rlid].name }}</td>
        </tr>
    </table>
    <table><tr><td class="nav-table-bottom"></td></tr></table>

    <table class="nav-table">
        <tr class="nav-table-header" (click)="onToggleFls()">
            <th scope="row">
                Followed Lists
                <span *ngIf="toggleFls" style="float:right"><i class="highlight fas fa-angle-down"></i></span>
                <span *ngIf="!toggleFls" style="float:right"><i class="highlight fas fa-angle-left"></i></span>
            </th>
        </tr>
    </table>
    <table class="nav-table" *ngIf="toggleFls">
        <tr *ngFor="let flid of lso.getMyFollowedLists()" (click)="onSelectReadingList(lso.getReadingLists()[flid])">
            <td *ngIf="lso.getReadingLists()[flid]"><i class="highlight fas fa-list-ul"></i> {{ this.lso.getReadingLists()[flid].name }}</td>
        </tr>
    </table>
    <table><tr><td class="nav-table-bottom"></td></tr></table>

    <table class="nav-additems">
        <tr>
            <td>
                <br>
                <div class="input-group input-group-sm">
                    <input class="form-control form-rounded" [(ngModel)]="addListName" (keyup.enter)="onAddList()" placeholder="add list"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" (click)="onAddList()" type="button"><span class="fas fa-plus"></span></button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
