<div *ngIf="isVisible">
    <div class="nav-header">{{ userEntity.name }}</div>

    <table class="nav-table" *ngIf="readingLists">
        <tr class="nav-table-header" (click)="onToggleRls()">
            <th scope="row">
                Reading Lists
                <span *ngIf="toggleRls" style="float:right"><i class="highlight fas fa-angle-down"></i></span>
                <span *ngIf="!toggleRls" style="float:right"><i class="highlight fas fa-angle-left"></i></span>
            </th>
        </tr>
    </table>
    <table class="nav-table" *ngIf="toggleRls">
        <tr *ngFor="let readingList of readingLists" (click)="onSelectReadingList(readingList)">
            <td><i class="highlight fas fa-list-ul"></i> {{ readingList.name }}</td>
        </tr>
    </table>
    <table><tr><td class="nav-table-bottom"></td></tr></table>

    <table class="nav-table">
        <tr class="nav-table-header" (click)="onToggleFls()">
            <th scope="row">
                Followed Lists
                <span *ngIf="toggleFls" style="float:right"><i class="highlight fas fa-angle-down"></i></span>
                <span *ngIf="!toggleFls" style="float:right"><i class="highlight fas fa-angle-left"></i></span>
            </th>
        </tr>
    </table>
    <table class="nav-table" *ngIf="toggleFls">
        <tr *ngFor="let flid of this.lso.getMyFollowedLists()" (click)="onSelectReadingList(this.lso.getReadingLists()[flid])">
            <td><i class="highlight fas fa-list-ul"></i> {{ this.lso.getReadingLists()[flid].name }}</td>
        </tr>
    </table>
    <table><tr><td class="nav-table-bottom"></td></tr></table>

    <table class="nav-additems">
        <tr>
            <td class="nav-space"></td>
            <td>
                <br>
                <span class="nav-additem" (click)="onAddList()">
                    <i class="accent fas fa-plus fa-sm"></i> <i class="highlight fas fa-list-ul"></i>
                </span>
            </td>
            <td>
                <br>
                <span class="nav-additem" (click)="onAddRLE()">
                    <i class="accent fas fa-plus fa-sm"></i> <i class="highlight fas fa-file"></i>
                </span>
            </td>
            <td class="nav-space"></td>
        </tr>
    </table>
</div>
