<table width="100%"><tr>
    <td class="item-header-properties">
    <span *ngIf="!isGridView" (click)="onToggleView()"><i class="text-secondary fas fa-th-large" title="Show grid view"></i></span>
    <span *ngIf="isGridView" (click)="onToggleView()"><i class="text-secondary fas fa-list-ul" title="Show list view"></i></span>
</table>

<!-- the list form of the elements -->
<table *ngIf="isDisplaying() && !isGridView" width="100%" style="border-collapse: unset;">
    <tr *ngFor="let rle of listToDisplay()" class="rle">
        <td class="rle-image-cell">
            <img class="rle-image" src="{{ helper.getImageUrl(rle) }}" (click)="onSelectReadingListElement(rle)">
        </td>
        <td class="bg-white" style="padding-left:5px"
             [class.unread-flat]="!rle.isRead">
            <div class="rle-content-title" (click)="onSelectReadingListElement(rle)">
                {{ helper.pickTitle(rle) }}
            </div>
            <table><tr>
                <td class="rle-content-link">
                    <a href="{{ helper.getLink(rle) }}">
                        {{ helper.extractRootDomain(rle.link) }}
                    </a>
                </td>
                <td>
                    <table> <!-- so we can have a space between tags -->
                        <tr *ngIf="rle.tagIds">
                            <td *ngFor="let tagId of rle.tagIds">
                                <table *ngIf="lso.getTags()[tagId]" class="tags {{ helper.getTagStyle(tagId) }}"><tr><td>
                                    <table><tr>
                                        <td class="tagitem" (click)="onSelectTag(lso.getTags()[tagId])">{{ lso.getTags()[tagId].tagName }}</td>
                                    </tr></table>
                                </td><td width="5px">
                                </td></tr></table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr></table>
        </td>
    </tr>
</table>

<!-- the card form of the elements -->
<div *ngIf="isDisplaying() && isGridView" class="card-columns">
    <div *ngFor="let rle of listToDisplay()" class="card pointer"
        (click)="onSelectReadingListElement(rle)"
             [class.unread-image]="!rle.isRead && helper.getImageUrl(rle)"
             [class.unread-noimage]="!rle.isRead && !helper.getImageUrl(rle)">
        <div style="max-height:200px;overflow:hidden;" class="mx-auto">
            <img class="card-img-top" src="{{ helper.getImageUrl(rle) }}">
        </div>
        <div class="card-body">
            <h6 class="card-title">{{ helper.pickTitle(rle) }}</h6>
            <p class="small">{{ helper.pickDescription(rle) }}</p>
        </div>
    </div>
</div>
