<table width="100%"><tr>
    <td class="item-header-properties">
    <span *ngIf="!isGridView" (click)="onToggleView()"><i class="text-secondary fas fa-th-large" title="Show grid view"></i></span>
    <span *ngIf="isGridView" (click)="onToggleView()"><i class="text-secondary fas fa-list-ul" title="Show list view"></i></span>
</table>

<!-- the list form of the elements -->
<table *ngIf="isDisplaying() && !isGridView" width="100%" style="border-collapse: unset;">
    <tr *ngFor="let rle of listToDisplay()" class="rle">
        <td *ngIf="rle" class="rle-image-cell">
            <img class="rle-image" src="{{ helper.getImageUrl(rle) }}" (click)="onSelectReadingListElement(rle)">
        </td>
        <td *ngIf="rle" class="bg-white" style="padding-left:5px" [class.unread-flat]="ownRle(rle) && !rle.read">
            <div class="rle-content-title" (click)="onSelectReadingListElement(rle)">
                {{ helper.pickTitle(rle) }}
            </div>
            <table><tr>
                <td>
                    <span *ngIf="ownRle(rle)" (click)="onToggleFavorite(rle)"
                        [class.text-secondary]="!rle.favorite"
                        [class.text-warning]="rle.favorite">
                        <i class="fa-star pointer"
                            [class.far]="!rle.favorite"
                            [class.fas]="rle.favorite"
                            title="Mark as favorite"></i>
                    </span>
                </td>
                <td class="rle-content-link">
                    <a href="{{ helper.getLink(rle) }}">
                        {{ helper.extractRootDomain(rle.link) }}
                    </a>
                </td>
                <td>
                    <table> <!-- so we can have a space between tags -->
                        <tr *ngIf="rle.tagIds">
                            <td *ngFor="let tagId of rle.tagIds">
                                <table *ngIf="lso.getTags()[tagId]" class="tags {{ helper.getTagStyle(tagId) }}"><tr><td>
                                    <table><tr>
                                        <td class="tagitem" (click)="onSelectTag(lso.getTags()[tagId])">{{ lso.getTags()[tagId].tagName }}</td>
                                    </tr></table>
                                </td><td width="5px">
                                </td></tr></table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr></table>
        </td>
    </tr>
</table>

<!-- the card form of the elements -->
<div *ngIf="isDisplaying() && isGridView" class="card-columns">
    <div *ngFor="let rle of listToDisplay()" class="card"
             [class.unread-image]="ownRle(rle) && !rle.read && helper.getImageUrl(rle)"
             [class.unread-noimage]="ownRle(rle) && !rle.read && !helper.getImageUrl(rle)">
        <div style="max-height:200px;overflow:hidden;" class="mx-auto pointer"
            (click)="onSelectReadingListElement(rle)">
            <img class="card-img-top" src="{{ helper.getImageUrl(rle) }}">
        </div>
        <div class="card-body pointer" (click)="onSelectReadingListElement(rle)">
            <h6 class="card-title">{{ helper.pickTitle(rle) }}</h6>
            <p class="small">{{ helper.pickDescription(rle) }}</p>
        </div>
        <div class="card-footer text-muted">
            <table><tr>
                <td>
                    <span *ngIf="ownRle(rle)" (click)="onToggleFavorite(rle)"
                        [class.text-secondary]="!rle.favorite"
                        [class.text-warning]="rle.favorite">
                        <i class="fa-star pointer"
                            [class.far]="!rle.favorite"
                            [class.fas]="rle.favorite"
                            title="Mark as favorite"></i>
                    </span>
                </td>
                <td class="rle-content-link">
                    <a href="{{ helper.getLink(rle) }}">
                        {{ helper.extractRootDomain(rle.link) }}
                    </a>
                </td>
            </tr></table>
        </div>
    </div>
</div>
