<!-- This is here because it forces the gapi object to get loaded properly -->
<div class="g-signin2" data-onsuccess="onSignIn" style="display:none"></div>

<style>
.logo {
    padding-top: 100px;
    font-size: 50px;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-8">
            <table width=100%><tr><td align="center" style="padding-top: 100px;">
                <div class="card">
                    <div class="logo">Hello. Let's read.</div>
                    <img src="/assets/books.jpg" style="width:500px;overflow:hidden">
                    <p></p>
                    <div id="my-signin2"></div>
                    <br>
                </div>
            </td></tr></table>
        </div>
        <div class="col">
        </div>
    </div>
</div>
