<!-- This is here because it forces the gapi object to get loaded properly -->
<div class="g-signin2" data-onsuccess="onSignIn" style="display:none"></div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create an account?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        It looks like you don't have an account yet. Create one?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onSignUp()" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<style>
.logo {
    padding-top: 100px;
    font-size: 50px;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-8">
            <table width=100%><tr><td align="center" style="padding-top: 100px;">
                <div class="card">
                    <div class="logo">Hello. Let's read.</div>
                    <img src="/assets/books.jpg" style="width:500px;overflow:hidden">
                    <p></p>
                    <div id="my-signin2"></div>
                    <br>
                </div>
            </td></tr></table>
        </div>
        <div class="col">
        </div>
    </div>
</div>
