body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 16px;
}

.highlight {
    color: #6da9db;
}
.accent {
    color: #ff0000;
}

.nav-header {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 10px 10px;
    text-transform: uppercase;
}

/* Nav stuff */
.nav-table {
    width: 100%;
}
.nav-table th {
    padding-top: 5px;
}
.nav-table-bottom {
    padding-bottom: 5px;
}
.nav-table-header {
    font-weight: 500;
    width: 100%;
    border-top: 1px solid #f0f0f0;
    cursor: pointer;
}
.nav-table td:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.nav-additems {
    width: 100%;
    border-top: 1px solid #f0f0f0;
    text-align: center;
}
.nav-additem {
    cursor: pointer;
}
.nav-space {
    width: 40px;
}

/* Reading list or RLE */
.item-header {
    font-weight: 500;
    font-size: 28px;
    width: 100%;
}
.item-header td {
    padding-top: 25px;
}
.item-header-properties {
    text-align: right;
    font-size: 14px;
}
.item-header-properties span:hover {
    cursor: pointer;
}
.item-header-properties a {
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
}

/* Tags list */
.tags table {
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
}
.tagitem {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.tagspace {
    width: 1px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffffff;
}
.tagsadd {
    width: 200px;
    text-align: right;
}

.tagcolor0 table {
    background-color: #ff9a9a;
}
.tagcolor0 table:hover {
    background-color: #ba5050;
}
.tagcolor1 table {
    background-color: #9bc2ff;
}
.tagcolor1 table:hover {
    background-color: #5073aa;
}
.tagcolor2 table {
    background-color: #65d8ba;
}
.tagcolor2 table:hover {
    background-color: #35a084;
}
.tagcolor3 table {
    background-color: #b66fc4;
}
.tagcolor3 table:hover {
    background-color: #7f408c;
}
.tagcolor4 table {
    background-color: #86a36a;
}
.tagcolor4 table:hover {
    background-color: #4e6638;
}
.tagcolor5 table {
    background-color: #c6c04f;
}
.tagcolor5 table:hover {
    background-color: #968f12;
}

.comments {
    font-size: 13px;
}
