<h1>Add new reading list element</h1>
name: <input [(ngModel)]="name" placeholder="list element name"/><br>
description:<br><textarea [(ngModel)]="description" placeholder="description of your item"></textarea><br>
amazon link: <input [(ngModel)]="amazonLink" placeholder="amazon link"/><br>
tags: <input [(ngModel)]="tags" placeholder="semi-colon separated tags"/><br>
list ids: <input [(ngModel)]="listIds" placeholder="semi-colon separated list ids"/><br>

<button (click)="addListElement()">Add list element</button>
