<div *ngIf="getUser()">
    <h1>{{ getUser().name }}</h1>

    <h2>Reading Lists</h2>
    <ul *ngIf="getReadingListsForCurrentUser()" class="readingLists">
        <li *ngFor="let rlId of getReadingListsForCurrentUser()"
            (click)="onSelectReadingList(lso.getReadingList(rlId))">{{ lso.getReadingList(rlId).name }}</li>
    </ul>

    <h2>Followed Lists</h2>
    <ul *ngIf="getFollowedListsForCurrentUser()" class="readingLists">
        <li *ngFor="let flId of getFollowedListsForCurrentUser()"
            (click)="onSelectReadingList(lso.getReadingList(flId))">{{ lso.getReadingList(flId).name }}</li>
    </ul>
</div>
