<div *ngIf="getUser()">
    <h1>{{ getUser().name }}</h1>

    <h2>Reading Lists</h2>
    <ul *ngIf="getReadingListsForCurrentUser()" class="readingLists">
        <li *ngFor="let rl of getReadingListsForCurrentUser()"
            (click)="onSelectReadingList(rl)">{{ rl.name }}</li>
    </ul>

    <h2>Followed Lists</h2>
    <ul *ngIf="getFollowedListsForCurrentUser()" class="readingLists">
        <li *ngFor="let fl of getFollowedListsForCurrentUser()"
            (click)="onSelectReadingList(fl)">{{ fl.name }}</li>
    </ul>
</div>
