<div *ngIf="readingListElement">
    <h1>{{ readingListElement.name }}</h1>

    {{ readingListElement.name }}

    <h2>Tags</h2>
    <ul *ngIf="tags" class="tags">
        <li *ngFor="let tag of tags"
            (click)="onSelectTag(tag)">{{ tag.tagName }} -
            <span *ngIf="ownRle" (click)="onRemoveTag(tag)">remove</span>
        </li>
    </ul>
    <input [(ngModel)]="addTagName" placeholder="add tag"/>
    <span (click)="onAddTag()">add tag</span>

    <h2>Comments</h2>
    <ul *ngIf="comments" class="comments">
        <li *ngFor="let comment of comments">{{ comment.commentText }}</li>
    </ul>
    <input [(ngModel)]="addComment" placeholder="comment..."/>
    <span (click)="onAddComment()">add comment</span>
</div>
