<div *ngIf="readingListElement">
    <!-- Modal for deleting the rle -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the item '{{ readingListElement.name }}'?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="onDeleteReadingListElement()" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <table class="item-header">
        <tr>
            <td class="item-header-label">{{ readingListElement.name }}</td>
            <td class="item-header-properties" width="50px">
                <span *ngIf="ownRle" (click)="onToggleAddTag()"><i class="text-secondary fas fa-tag" title="Add a tag to this item"></i></span>
                <span *ngIf="ownRle" data-toggle="modal" data-target="#deleteModal"><i class="text-danger fas fa-trash-alt" title="Delete this item"></i></span>
            </td>
        </tr>
    </table>
    <table width="100%"> <!-- so we can right-align adding -->
        <tr>
            <td>
                <table> <!-- so we can have a space between tags -->
                    <tr *ngIf="readingListElement.tagIds">
                        <td *ngFor="let tagId of readingListElement.tagIds">
                            <table *ngIf="lso.getTags()[tagId]" class="tags {{ helper.getTagStyle(tagId) }}"><tr><td>
                                <table><tr>
                                    <td class="tagitem" (click)="onSelectTag(lso.getTags()[tagId])">{{ lso.getTags()[tagId].tagName }}</td>
                                    <td class="tagspace" *ngIf="ownRle"></td>
                                    <td class="tagitem" *ngIf="ownRle" (click)="onRemoveTag(lso.getTags()[tagId])">x</td>
                                </tr></table>
                            </td><td width="5px">
                            </td></tr></table>
                        </td>
                    </tr>
                </table>
            </td>
            <td *ngIf="ownRle && isAddTag" class="tagsadd">
                <div class="input-group input-group-sm">
                    <input class="form-control form-rounded" [(ngModel)]="addTagName" (keyup.enter)="onAddTag()" (keyup.esc)="onToggleAddTag()" placeholder="add tag"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" (click)="onAddTag()"><span class="fas fa-plus"></span></button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <p></p>

    <div class="container bg-white" style="border: 1px solid #dee2e6">
        <div class="row" style="padding: 10px 10px 10px 10px">
            <div class="col-3">
                <img src="{{ helper.getImageUrl(readingListElement) }}" width="100%">
            </div>
            <div class="col">
                <h4>{{ helper.pickTitle(readingListElement, false) }}</h4>
                <p>{{ helper.pickDescription(readingListElement, false) }}</p>
            </div>
        </div>
    </div>

    <br>
    <div class="container bg-white" style="border: 1px solid #dee2e6">
        <div class="row" style="padding: 10px 10px 0px 10px">
            <h6>This item is in these lists:</h6>
        </div>
        <div class="row" style="padding: 0px 10px 10px 10px">
            <table> <!-- so we can have a space between tags -->
                <tr *ngIf="readingListElement.listIds">
                    <td *ngFor="let listId of readingListElement.listIds">
                        <table *ngIf="lso.getReadingLists()[listId]" class="tags {{ helper.getTagStyle(listId) }}"><tr><td>
                            <table><tr>
                                <td class="tagitem" (click)="onSelectList(lso.getReadingLists()[listId])">{{ lso.getReadingLists()[listId].name }}</td>
                                <td class="tagspace" *ngIf="ownRle"></td>
                                <td class="tagitem" *ngIf="ownRle" (click)="onRemoveRleFromList(listId)">x</td>
                            </tr></table>
                        </td><td width="5px">
                        </td></tr></table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row" style="padding: 0px 10px 10px 10px">
            <div class="input-group input-group-sm" *ngIf="ownRle">
                <select class="custom-select" (change)="onSelectChange($event)">
                    <option selected>Select list to add to...</option>
                    <option *ngFor="let list of getListsThatRleIsNotIn()" [value]="list.id">{{ list.name }}</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" (click)="onAddRleToList()" type="button">add to list</button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container bg-white" style="border: 1px solid #dee2e6">
        <div class="row" style="padding: 10px 10px 0px 10px">
            <h6>Notes</h6>
        </div>
        <div class="row" style="padding: 0px 10px 0px 10px">
            <p *ngIf="comments" class="comments">
                <span *ngFor="let comment of comments">
                    <span class="highlight">{{ getDate(comment.lastModified) }}</span>
                    <span (click)="onDeleteComment(comment)">
                        <i class="text-danger fas fa-trash-alt pointer"></i>
                    </span>
                    <div style="white-space:pre-wrap">{{ comment.commentText }}</div>
                    <br>
                </span>
            </p>
        </div>
        <div class="row" style="padding: 0px 10px 10px 10px">
            <div class="input-group input-group-sm" *ngIf="ownRle">
                <textarea class="form-control form-rounded" style="resize:none" rows=5 [(ngModel)]="addComment" placeholder="note..."></textarea>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" (click)="onAddComment()">add note</button>
                </div>
            </div>
        </div>
    </div>
</div>
