<div *ngIf="readingListElement">
    <table class="item-header">
        <tr>
            <td>{{ readingListElement.name }}</td>
            <td class="item-header-properties">
                <span *ngIf="ownRle" (click)="onDeleteReadingListElement()"><img src="assets\icon-delete.gif"> </span>
            </td>
        </tr>
    </table>
    <table width="100%"> <!-- so we can right-align adding -->
        <tr>
            <td>
                <table> <!-- so we can have a space between tags -->
                    <tr *ngIf="tags">
                        <td *ngFor="let tag of tags">
                            <table class="tags"><tr><td>
                                <table><tr>
                                    <td class="tagitem" (click)="onSelectTag(tag)">{{ tag.tagName }}</td>
                                    <td class="tagspace" *ngIf="ownRle"></td>
                                    <td class="tagitem" *ngIf="ownRle" (click)="onRemoveTag(tag)">x</td>
                                </tr></table>
                            </td><td width="5px">
                            </td></tr></table>
                        </td>
                    </tr>
                </table>
            </td>
            <td *ngIf="ownRle" class="tagsadd">
                <input [(ngModel)]="addTagName" placeholder="add tag"/>
                <span (click)="onAddTag()"><img src="assets\icon-plus.gif"><img src="assets\icon-tag.gif"></span>
            </td>
        </tr>
    </table>

    <h2>Comments</h2>
    <ul *ngIf="comments" class="comments">
        <li *ngFor="let comment of comments">{{ comment.commentText }}</li>
    </ul>
    <span *ngIf="ownRle">
        <input [(ngModel)]="addComment" placeholder="comment..."/>
        <span (click)="onAddComment()">add comment</span><br>

        <input [(ngModel)]="addRleToListId" placeholder="add Rle to this listId"/>
        <span (click)="onAddRleToList()">add Rle to lists</span>
    </span>

    <h2>Lists that this RLE belongs to</h2>
    <ul *ngIf="lists" class="lists">
        <li *ngFor="let list of lists">{{ list.name }} -
            <span *ngIf="ownRle" (click)="onRemoveRleFromList(list)">remove</span>
        </li>
    </ul>
</div>
