<div *ngIf="readingList">
    <table class="item-header">
        <tr>
            <td>{{ readingList.name }}</td>
            <td class="item-header-properties">
                <span *ngIf="ownList && !isGridView" (click)="onToggleView()"><i class="accent fas fa-th-large"></i></span>
                <span *ngIf="ownList && isGridView" (click)="onToggleView()"><i class="accent fas fa-list-ul"></i></span>
                <span *ngIf="ownList" (click)="onEditList()"><i class="accent fas fa-pen-square"></i></span>
                <span *ngIf="ownList" (click)="onDeleteList()"><i class="accent fas fa-times"></i></span>
                <button *ngIf="!followingList && !ownList" class="btn btn-danger btn-sm" (click)="onFollowList()">follow</button>
                <button *ngIf="followingList" class="btn btn-danger btn-sm" (click)="onUnfollowList()">unfollow</button>
            </td>
        </tr>
    </table>
    <table width="100%"> <!-- so we can right-align adding -->
        <tr>
            <td>
                <table> <!-- so we can have a space between tags -->
                    <tr *ngIf="readingList.tagIds">
                        <td *ngFor="let tagId of readingList.tagIds">
                            <table *ngIf="lso.getTags()[tagId]" class="tags {{ helper.getTagStyle(tagId) }}"><tr><td>
                                <table><tr>
                                    <td class="tagitem" (click)="onSelectTag(lso.getTags()[tagId])">{{ lso.getTags()[tagId].tagName }}</td>
                                    <td class="tagspace" *ngIf="ownList"></td>
                                    <td class="tagitem" *ngIf="ownList" (click)="onRemoveTag(lso.getTags()[tagId])">x</td>
                                </tr></table>
                            </td><td width="5px">
                            </td></tr></table>
                        </td>
                    </tr>
                </table>
            </td>
            <td *ngIf="ownList" class="tagsadd">
                <input class="form-control form-rounded" [(ngModel)]="addTagName" (keyup.enter)="onAddTag()" placeholder="add tag"/>
            </td>
        </tr>
    </table>
    <input class="form-control form-rounded" [(ngModel)]="addRleLink" (keyup.enter)="onAddRle()" placeholder="url of item to add"/>
    <p></p>

    <!-- the list form of the elements -->
    <table *ngIf="readingListElements && !isGridView" class="rles">
        <tr *ngFor="let readingListElement of readingListElements" class="rle">
            <td class="rle-image-cell">
                <img class="rle-image" src="{{ helper.getImageUrl(readingListElement) }}"
                    (click)="onSelectReadingListElement(readingListElement)">
            </td>
            <td class="rle-content">
                <div class="rle-content-title" (click)="onSelectReadingListElement(readingListElement)">
                    {{ helper.pickTitle(readingListElement) }}
                </div>
                <table><tr>
                    <td class="rle-content-link">
                        <a href="{{ helper.getLink(readingListElement) }}">
                            {{ helper.extractRootDomain(readingListElement.link) }}
                        </a>
                    </td>
                    <td>
                        <table> <!-- so we can have a space between tags -->
                            <tr *ngIf="readingListElement.tagIds">
                                <td *ngFor="let tagId of readingListElement.tagIds">
                                    <table *ngIf="lso.getTags()[tagId]" class="tags {{ helper.getTagStyle(tagId) }}"><tr><td>
                                        <table><tr>
                                            <td class="tagitem" (click)="onSelectTag(lso.getTags()[tagId])">{{ lso.getTags()[tagId].tagName }}</td>
                                        </tr></table>
                                    </td><td width="5px">
                                    </td></tr></table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr></table>
            </td>
        </tr>
    </table>

    <!-- the card form of the elements -->
    <div *ngIf="readingListElements && isGridView" class="card-columns">
        <div *ngFor="let readingListElement of readingListElements" class="card" style="cursor:pointer"
            (click)="onSelectReadingListElement(readingListElement)">
            <div style="max-height:200px;overflow:hidden;" class="mx-auto">
                <img class="card-img-top" src="{{ helper.getImageUrl(readingListElement) }}">
            </div>
            <div class="card-body">
                <h6 class="card-title">{{ helper.pickTitle(readingListElement) }}</h6>
                <p class="small">{{ helper.pickDescription(readingListElement) }}</p>
            </div>
        </div>
    </div>
</div>
