<div *ngIf="readingList">
    <table class="item-header">
        <tr>
            <td>{{ readingList.name }}</td>
            <td class="item-header-properties">
                <span *ngIf="ownList && isGridView" (click)="onToggleView()"><i class="accent fas fa-th-large"></i></span>
                <span *ngIf="ownList && !isGridView" (click)="onToggleView()"><i class="accent fas fa-list-ul"></i></span>
                <span *ngIf="ownList" (click)="onEditList()"><i class="accent fas fa-pen-square"></i></span>
                <span *ngIf="ownList" (click)="onDeleteList()"><i class="accent fas fa-times"></i></span>
            </td>
        </tr>
    </table>
    <table width="100%"> <!-- so we can right-align adding -->
        <tr>
            <td>
                <table> <!-- so we can have a space between tags -->
                    <tr *ngIf="readingList.tagIds">
                        <td *ngFor="let tagId of readingList.tagIds">
                            <table *ngIf="this.lso.getTags()[tagId]" class="tags {{ this.getTagStyle(tagId) }}"><tr><td>
                                <table><tr>
                                    <td class="tagitem" (click)="onSelectTag(this.lso.getTags()[tagId])">{{ this.lso.getTags()[tagId].tagName }}</td>
                                    <td class="tagspace" *ngIf="ownList"></td>
                                    <td class="tagitem" *ngIf="ownList" (click)="onRemoveTag(this.lso.getTags()[tagId])">x</td>
                                </tr></table>
                            </td><td width="5px">
                            </td></tr></table>
                        </td>
                    </tr>
                </table>
            </td>
            <td *ngIf="ownList" class="tagsadd">
                <input class="form-control form-rounded" [(ngModel)]="addTagName" (keyup.enter)="onAddTag()" placeholder="add tag"/>
            </td>
        </tr>
    </table>
    <p></p><br>

    <!-- the list form of the elements -->
    <table *ngIf="readingListElements && !this.isGridView" class="rles">
        <tr *ngFor="let readingListElement of readingListElements" class="rle">
            <td class="rle-image-cell">
                <img class="rle-image" src="{{ this.getImageUrl(readingListElement) }}"
                    (click)="onSelectReadingListElement(readingListElement)">
            </td>
            <td class="rle-content">
                <div class="rle-content-title" (click)="onSelectReadingListElement(readingListElement)">
                    {{ this.pickTitle(readingListElement) }}
                </div>
                <table><tr>
                    <td class="rle-content-link">
                        <a href="{{ this.getLink(readingListElement) }}">{{ this.extractRootDomain(readingListElement.link) }}</a>
                    </td>
                    <td>
                        <table> <!-- so we can have a space between tags -->
                            <tr *ngIf="readingListElement.tagIds">
                                <td *ngFor="let tagId of readingListElement.tagIds">
                                    <table *ngIf="this.lso.getTags()[tagId]" class="tags {{ this.getTagStyle(tagId) }}"><tr><td>
                                        <table><tr>
                                            <td class="tagitem" (click)="onSelectTag(this.lso.getTags()[tagId])">{{ this.lso.getTags()[tagId].tagName }}</td>
                                        </tr></table>
                                    </td><td width="5px">
                                    </td></tr></table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr></table>
            </td>
        </tr>
    </table>

    <!-- the card form of the elements -->
    <div *ngIf="readingListElements && this.isGridView" class="rles">
        <div *ngFor="let readingListElement of readingListElements" class="card">
            <img class="card-img-top" src="{{ this.getImageUrl(readingListElement) }}">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>

    <div *ngIf="!followingList && !ownList">
        This isn't your list - click <span (click)="onFollowList()">here</span> to follow it
    </div>
    <div *ngIf="followingList">
        You're following this list - click <span (click)="onUnfollowList()">here</span> to stop following it
    </div>
</div>
